<div class="container">
	<h2>{{project.title}}</h2>
	<app-project-media-carousel *ngIf="project.media" 
		[carouselId]="project.title"
		[carouselItems]="project.media">
	</app-project-media-carousel>
	<div class="row">
		<div class="col">
			<p>{{project.summary}}</p>
		</div>
		<div class="col">
			<p>{{project.role}}</p>
		</div>
	</div>
	<ul *ngIf="project.downloads">
		<p>Available for download via:</p>
		<li *ngFor="let line of project.downloads">
			<app-link [textLink]="line"></app-link>
		</li>
	</ul>
	<ul *ngIf="project.references">
		<li *ngFor="let reference of project.references">
			<p>
				{{reference.description}} <app-link [textLink]="reference.textLink"></app-link>
			</p>
		</li>
	</ul>
</div>