<h2>{{project.title}}</h2>
<p>{{project.summary}}</p>
<p>{{project.role}}</p>
<ul *ngIf="project.downloads">
	<p>Available for download via:</p>
	<li *ngFor="let line of project.downloads">
		<a href={{line.link}} target="_blank" rel="noopener noreferrer">{{line.text}} (External Site)</a>
	</li>
</ul>
<ul *ngIf="project.references">
	<li *ngFor="let reference of project.references">
		<p>
			{{reference.description}} <a href={{reference.textLink.link}} target="_blank" rel="noopener noreferrer">{{reference.textLink.text}} (External Site)</a>
		</p>
	</li>
</ul>